@page "{handler?}/{taskId:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <h3>Task Board</h3>
    <h5 class="alert alert-info">Using partial views:</h5>
    <p>Goal: Use an un-ordered list to display tasks using the _TaskListPartial view. </p>
    <p>Clicking the main task line will call a named handler method using AJAX and return the partial view to display the sub-tasks</p>
    <partial name="_TaskListPartial" model="Model.HighLevelTaskList" />
</div>
@section scripts{
    <script>
        $(function () {
            $('.task-line').on('click', function () {
                var taskId = $(this).data('taskid');
                $(this).find("#subTasks").load("/Index/SubTasksPartial/" + taskId);
            });
        });
    </script>
}
