@page "{handler?}/{taskId:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h2 class="alert alert-info">Task Board</h2>


<div>
    <h5>Using partial views:</h5>
    <p>Goal: Use an un-ordered list to display tasks using the _TaskListPartial view. </p>
    <p>Clicking the main task line will call a named handler method using AJAX and return the partial view to display the sub-tasks</p>


    <partial name="_TaskListPartial" model="Model.HighLevelTaskList" />

    <hr />
    <h5>Using MVCGrid:</h5>
    <h6>TODO: Implement Grid View to display list of Tasks as above</h6>

</div>
@section scripts{

    <script>

        $(function () {
            $('.task-line').on('click', function () {
                var taskId = $(this).data('taskid');
                $(this).find("#subTasks").load("/Index/SubTasksPartial/" + taskId);
            });
        });
    </script>

}
