@using TaskZ.Models;

@model List<TaskItem>

    <ul>
        @foreach (TaskItem task in Model)
        {
            <li class="task-line" data-taskid="@task.Id">
                @task.Title  <a asp-area="Tasks" asp-page="/Edit" asp-route-id="@task.Id">Edit</a> |
                <a asp-page="./Index" onclick="return confirm('Are you sure you want to delete this item?');" asp-page-handler="Delete" asp-route-id="@task.Id">Delete</a>
                <div id="subTasks"></div>
            </li>
        }
    </ul>


