@page "{id:int?}"
@using TaskZ.Models;
@model TaskZ.Areas.Tasks.Pages.CreateEditModel
@{
}

<div class="container">
    <h3>Create a new task to track</h3>
    <form class="container form-horizontal" method="post">
        <input type="hidden" asp-for="TaskId" />
        <div asp-validation-summary="All" class="validation-summary-errors text-danger" data-valmsg-summary="true">          
        </div>
        <div class="row form-group">
            <label asp-for="Input.Title" class="control-label col-1"></label>
            <input asp-for="Input.Title" type="text" class="form-control col-6" />            

            <label asp-for="Input.DueDate" class="control-label col-2"></label>
            <input asp-for="Input.DueDate" type="date" data-val="true" class="form-control col-2" />

        </div>

        <div class="row form-group">
            <label asp-for="Input.ShortDescription" class="control-label col-1"></label>
            <textarea asp-for="Input.ShortDescription" class="form-control col-6" rows="4"></textarea>            

            <label asp-for="Input.SelectedUserID" class="control-label col-2"></label>
            <select asp-for="Input.SelectedUserID" class="form-control col-2" asp-items="@Model.UsersDropDownList">
                <option value="">--Choose User--</option>
            </select>
        </div>
        <h4>Add a new comment</h4>
        <div class="row form-group">
            <label asp-for="Input.Comment" class="control-label col-1"></label>
            <textarea asp-for="Input.Comment" class="form-control col-10" rows="6"></textarea>
            <span asp-validation-for="Input.Comment" class="text-danger"></span>
        </div>
        <div class="row form-group">
            <div class="control-label col-1"></div>
            <button type="submit" class="btn btn-primary col-1">Save</button>
        </div>
    </form>
    @if (Model.Comments != null)
    {
        <h4>Previous comments</h4>
        <ul class="container list-unstyled">
            @foreach (TaskComment comment in Model.Comments)
            {
                <li>
                    <hr />
                    <div class="row form-group">
                        <label class="control-label col-1">@comment.CommentDate</label>
                        <label class="control-label col-10">@comment.Comment</label>
                    </div>
                </li>
            }
        </ul>
    }
</div>